@import "../../../../styles/base";

.video-views-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: $blue-light;
  h2 {
    font-weight: 900;
  }
  .chart-options {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    .selector {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      background-color: $grey-lighter;
      border-radius: .25rem;
      padding: .6rem 1rem;
      margin-right: .5rem;
      >*:not(:last-child) {
        margin-right: .8rem;
      }
    }
    i {
      margin-left: .5rem;
      cursor: pointer;
      &.loading {
        animation: spin 1000ms infinite linear;
      }
    }
  }
}

.charts-video-views {
  min-width: 1229.2px;
  min-height: 304px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
