@import "../../../../styles/base";

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  margin-bottom: 1.3rem;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  h3 {
    font-size: .8rem;
    line-height: 1rem;
    color: $blue-dark;
    font-weight: 300;
    &.view-all {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-weight: 500;
      color: $blue-light;
      margin-left: auto;
      >*:not(:first-child) {
        margin-left: .5rem;
      }
    }
  }
}

.funnel-graph-container {
  margin-top: 1.2rem;
}
