@import "../../../../styles/base";

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.charts-container {
  position: relative;
  display: flex;
}
