:host {
    /deep/ .bar-chart{
      position: relative;
      .chart-data{
        .y-axis{
          .tick{
             text{
               fill: gray;
               font-weight: 400;
               font-size: 13;
             }
           }
           path{
             display: none;
           }
         }
         .x-axis{
           .tick{
             text{
               display: none;
             }
           }
           path{
             display: none;
           }
         }
         .x-axis-draw-line{
           stroke: #bccbda;
           stroke-width: 3;
         }
         .white-box{
           stroke: #ffffff;
           stroke-width: 8;
         }
         .horizontalGrid{
           stroke: lightgrey;
           stroke-width: 1px;
           stroke-dasharray: 4,4;
           opacity: 0.8;
         }
         .bar{
           stroke: #48D1CC;
           fill: #48D1CC;
         }
      }
      .tooltip-container{
        position: relative;
        pointer-events: none;
        .tooltip{
          position: absolute;
          text-align: center;
          border-radius: 4px;
          white-space: nowrap;
          padding: 4px;
          display: block;
          opacity: 1;
          background-color: #003366;
          .tooltip-text{
            color: white;
            font-size: 80%;
            font-weight: 200;
          }
        }
      }
    }
}
