:host{
  /deep/ .funnel-graph{
    position: relative;
    margin-top: 10px;
    .chart-data{
      .y-axis{
        text{
          fill: gray;
          font-weight: 400;
          font-size: 13;
        }
        path{
          display: none;
        }
      }
      .x-axis{
        .text-container{
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          text-align: center;
        }
        path{
          display: none;
        }
        text{
          display: none;
        }
      }
      .horizontalGrid{
        stroke: lightgrey;
        stroke-width: 1px;
        stroke-dasharray: 4,4;
        opacity: 0.8;
      }
      .x-axis-line{
        stroke: #bccbda;
        stroke-width: 3;
      }
      rect{
        stroke: #98AFC7;
        fill: #98AFC7;
      }
      polygon{
        fill: #c1d0e1;
        opacity: 0.6;
      }
    }
    .tooltip-container{
      position: relative;
      pointer-events: none;
      .tooltip{
        position: absolute;
        border-radius: 4px;
        white-space: nowrap;
        width: 40px;
        text-align: center;
        padding: 3px;
        background-color: #003366;
        .tooltip-text{
          color: white;
          font-size: 80%;
          font-weight: 200;
        }
      }
    }
  }
}
